@font-face
    font-family: Fancy
    src: url(~fonts/a_BosaNovaCpsBrk.ttf) format(truetype), url(~fonts/a_BosaNovaCpsBrk.woff) format(woff)

@import ./config

@import ./stripes/index

@import ./teacher
@import ./program

html, body
    margin: 0
    font-family: Fancy, Roboto, sans-serif
    font-size: 14px
    @media (min-width: 768px)
        font-size: 16px

*
    font-size: 1em
    font-weight: normal
    font-style: normal
    text-transform: none
    text-decoration: none
    color: inherit
    box-sizing: border-box
    margin: 0
    padding: 0

* + p
    margin-top: 10px

.b, b
    font-weight: bold

html
    color: white
    height: 100%
    background: url(~images/bg.jpg) center 40% no-repeat
    background-attachment: fixed
    background-size: cover

.center
    width: 100%
    max-width: 960px
    margin: auto
