.page-photos
    height: 100vh
    min-height: 670px
    display: flex
    flex-direction: column

    .menu
        flex: .01
    
    .center
        flex: 1
        position: relative

    .stripe
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0

    .fotorama
        position: absolute
        left: 20px
        right: 20px
        top: 66px
        bottom: 0
