.header
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-bottom: 5vh

    &__image
        flex: 1
        max-height: 55vh
        max-width: 95%
        width: 573px
        height: 531px
        margin: 0 auto
        display: inline-block
        background: url(~images/logo.png) center center no-repeat
        background-size: contain

    &__line-1
        height: 70px
        width: 607px
        max-height: 15vh
        max-width: 90%
        margin: 0 auto
        background: url(~images/logo-line-1.png) center center no-repeat
        background-size: contain

    &__line-2-stripe
        position: relative
        height: 123px
        max-height: 15vh
        background: url(~images/logo-label-bg.jpg) center center no-repeat
        background-size: 100% 100%


    &__line-2
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        width: 630px
        height: 90px
        margin: auto

        max-width: 90%
        max-height: 80%

        background: url(~images/logo-line-2.png) center center no-repeat
        background-size: contain
