.teacher
    img.teacher__photo(src=photos.teacher2)
    h3.teacher__title Шуплецов Алексей Владиславович

    .teacher__bio
        p Окончил Мужской Хоровой Колледж (мастерская С.Ю.Пименова).
        p Окончил ЕГТИ, факультет пластической выразительности актера (мастерская В.В.Белоусова).
        p В 2009-2010 гг. принимал участие в спектаклях Екатеринбургского театра юного зрителя.
        p В 2014 году окончил РАТИ-ГИТИС (мастерская Д.И.Спиваковского), специальность "артист драматического театра и кино".
        
    .teacher__portfolio
        h4.teacher__portfolio-title театральные работы

        p.b Студенческие работы:
        p Марат - «Мой бедный Марат», А. Арбузов (2014, реж. С.Арцибашев);
        p Грузчик - «Чемоданное настроение», А.Богачёва (2014, реж. Е.Балтин);
        p Гортензио - «Укрощение Строптивой», У.Шекспир (2014, реж. Д.Спиваковский); 
        p Гена - «Радуга зимой», М.Рощин (2014, реж. С.Щедрин);<br /><br />

        p Ермолай Воеводин - «Степка», В.Шукшин (2014, реж. Д.Спиваковский);
        p Игорь - «Приезжий», В.Шукшин (2014, реж. С.А.Щедрин);
        p Гремио - «Укрощение Строптивой», У.Шекспир (2013, реж. Д.Спиваковский); 
        p Подпольный - «Записки из подполья», Ф.М.Достоевский (2013, реж. С.Щедрин); 
        p Ричард 3 - «Ричард 3», У.Шекспир (2013, реж. А.Шуплецов\С.Щедрин); 
        p Пианист - «Оркестр», Ж.Ануй (2013, реж. Е.Котихина); 
        p Федот Евграфыч - «А зори здесь тихие», Б.Васильев (2013, реж. С. Щедрин); 
        p Степан Плюшкин - «Мертвые души», Н.В.Гоголь (2013, реж. Д.Спиваковский); 
        p Паж - «Царевна Подщипа», И.А.Крылов (2013, реж. А.Бордуков);
        p Михал - «Человек-подушка», М.МакДонах (2013, реж. О.Гетце).

                
        p 2017, "Папа Ден" UA Film prod. - сериал 16 серий, - Главная роль 
        p 2017, "Заблудился". Реж. Варвара Филипчук - короткометражный фильм - Главная роль 
        p 2017, Отчий Берег, реж. Милена Фадеева, Стар Медиа, - 12 серийный фильм - Эпизод 
        p 2016, Ледокол, реж.Николай Хомерики, прод. Игорь Толстунов - Профит, полный метр - Роль второго плана - кастинг Ольга Балама 
        p 2017, Потраты, многосерийный молодежный фильм, – Главная роль 
        p 2017, Цирк, реж. Алексей Шуплецов,- короткометражный фильм - Главная роль 
        p 2016, Два отца и два сына, СТС, сериал - эпизод 
        p 2014, Обмани, если любишь, реж.Дмитрий Тюрин, 8-серийный фильм, Эпизод. 
        p 2013, Совсем не простая история, реж.Федор Попов, полный метр, - Эпизод
        p 2016, Ледокол, реж.Николай Хомерики,- Профит, полный метр - Роль второго плана - <br />

        p.b Повышение квалификации: 
        p Высшие Курсы Сценаристов и Режиссеров
        p "Катарсис" - психо-физический тренинг по технологии А. Лоуэна 
        p Метод Ли Страсберга 
        p "RPT 1" - психологический тренинг С. Роуз 
        p "Механика" - тренинг И. Яцко <br />

        p.b ИНФОРМАЦИЯ ПО ТЕАТРАМ: 
        p ЕТЮЗ 2010г 
        p Театр "АЯ" 2012г 
        p Театр на Покровке (2014 - 2015г) 
        p Театр "Мастерская Спиваковского" (2014г - 2016г)
