.footer
    .center
        .footer__content
            .footer__cell.footer__cell--logo
            .footer__cell.footer__cell--address
                span
                    div метро Электрозаводская
                    div метро Проспект мира
            .footer__cell.footer__cell--phone
                span тел.: +7 (965) 111-7115
            .footer__cell.footer__cell--copyright
                span &copy; 2015-2016
