extends layout
block vars
    - var title = "Школа актерского мастерства в Москве";
block main
    include stripes/header
    .center
        include stripes/about
        include stripes/programs
        include stripes/teachers
    //.banner
        .banner__overlay
        .banner__image
        +cross('banner__close cross--white')
