doctype html
html
    head
        title Три Маски
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" href="/c.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic")
    body
        .center
            include stripes/header
            include stripes/programs
            include stripes/teachers
