doctype html
- var title="Три маски"
- var keywords="москва, школа актерского мастерства, школа актерского мастерства москва";
- var description="";

include cross

block vars
html
    head
        title=title
        meta(name="keywords" content=keywords)
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" href="/c.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;subset=cyrillic")
    body
        block main
        include footer
        script(src="/j.js")
        block scripts
