mixin menu-item(name, url, mod)
    a(href=url class=mod).menu__item.button
        .menu__item-content=name

.menu
    +menu-item('О нас', '/#about')
    +menu-item('Акции', '/campaign')
    +menu-item('Фото', '/photo')
    +menu-item('Видео', '/video')
    +menu-item('Цены', '/price')
    +menu-item('Контакты', '/contacts')
    +menu-item('Отправить заявку', null, 'button--yellow show-form-button')
