table
    tr
        td(colspan=2) новая заявка
    tr
        td Имя
        td=name
    tr
        td Телефон
        td=phone
    tr
        td Возраст ученика
        td=age
    tr
        td Интересующий курс
        td=program
