extends layout
block main
    .page-photos
        include menu
        .center
            .stripe.stripe--photo
                h2 Фото
                .fotorama(data-nav="thumbs")
                    each photo in photos
                        a(href=`/p/i/${photo.original}`)
                            img(src=`/p/i/${photo.small}`)
block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")

    script.
        $(window).on('load', function () {
            $('.fotorama')
                .data('fotorama')
                .resize({
                    width: Math.max(document.documentElement.clientWidth, 960) - 40
                });        
        })
