.teacher
    img.teacher__photo(src=photo)
    h3.teacher__title Игорь Серебрянный

    .teacher__bio
        p.b Образование:
        p 1992 Всероссийский Институт Повышения Квалификации Работников Кино и Телевидения. Курс: режиссура трюкового кино. Актер, режиссер.
        p 1994 Российский Центр Циркового Искусства (город Москва, Измайловский проезд, дом 12) Студия клоунады и эксцентрики. Актер, клоун.
        p 1997-1999 - Курсы и семинары в Доме Актёра
        p 2013 - Кино-школа Александра Митты, режиссура
        p 2013 - Кино-школа «Студия свободного кино», видео-монтаж в программе /final cut pro/
        p 2013 - «Техника актёрского мастерства» Иваны Чаббак
        p 2013 - Кино-школа Cinemotion «Как снять кино на фотоаппарат»
        p 2013 - Снял свой фильм «Мытищи Forever!», участник фестиваля Страна

        
    .teacher__portfolio
        h4.teacher__portfolio-title ФИЛЬМОГРАФИЯ

        p 2016 - «Кризис нежного возраста», роль отец Козябина, сериал ТНТ
        p 2015 - «Бармен», худ. фильм, роль Дворник
        p 2014 - «Восьмидесятые-4», роль Спекулянта
        p 2013 - «Москва. Тривокзала», роль Охранник
        p 2013 - «Мент в законе-8», роль Сектант
        p 2012 - «Человек ниоткуда-2», роль Фоканов (программист)
        p 2012 - «Вероника. Потерянное счастье», роль Стилист
        p 2011 - «Ключи от счастья», роль Владелец музыкального магазина
        p 2011 - «Казнокрады» , серия «Трофейное дело», роль - Артист
        p 2011 - «Игра», сериал НТВ, 7-я серия, роль - Администратор казино
        p 2011 - «Земский доктор», сериал, роль Пациент
        p 2011 - «За встречу», худ. фильм, роль - Пожарник


        p 2011 - «Девичья охота» , роль - Иванченко
        p 2011 - «Большие надежды» , режиссёр Екатерина Ланская , MTV России , сериал , роль - Агент Никиты
        p 2011 - «Бабушка на сносях» , Россия 1 , роль - Продавец шуб
        p 2011 - «Участковый» , режиссёр Михаил Кабанов , сериал , НТВ , роль - Фотограф Михаил
        p 2011 - «Мишень» , режиссёр Александр Зельдович , 1 КАНАЛ , полный метр , Эпизод
        p 2011 - «Лёд тронулся» , комедийный ситком , КХЛ , студия «Джокер» , 12 ролей : Старый тренер , Новый тренер , Хоккейный врач , Уборщица , Сыщик , Генерал , Экстрасенс , Колдун , Ветеран хоккея , Звезда Барашкин , Вратарь , Арбитр
        p 2010 - «Суд 24» , пилот , комедийная роль - Фокусник
        p 2010 - «Сев Кав Тв» скетч , роль - Дед Мороз
        p 2010 - «Отдел» , фильм 4 «Страшные лейтенанты» , роль - Рой ( англичанин )
        p 2010 - «Интерны» , сериал , ТНТ , 32 серия , роль - Мальцев ( эксгибиционист )
        p 2010 - «Инспектор Гуров» , НТВ , сериал , роль - Администратор ресторана
        p 2010 - «Зона милосердия» худ. фильм , роль - Лин ( немец )
        p 2010 - «Знаки судьбы» , серия 18 , нтв , роль - Муравьев ( герой серии )
        p 2010 - «Варенька 3» , сериал , Россия 1 , роль - Начальник станции
        p 2009 - «Универ» , сериал , ТНТ , роль - Инспектор
        p 2009 - «Неудачников net» , роль - Вася
        p 2009 - «Дети белой богини» , режиссёр Александр Павловский , роль - Носатый
        p 2009 - «Братья детективы» сериал, роль - Судмедэксперт
        p 2008 - «Платон» , режиссёр Вартан Акопян худ. фильм , эпизод - Алкоголик на скамейке
        p 2008 - 2011 - «Лето индиго или Удивительная история» режиссёр Александр Павловский , 4-е серии , главная роль - Геша
        p 2008 - «Невинные создания» режиссёр Евгений Юликов , комедийная роль - Молодой дачник
        p 2008 - «Автобус» сериал , 5 серия , роль - Редактор газеты «Сельская молодёжь» Степанов
        p 2006 - «Молодые и злые» , сериал , роль - Веригин
        p 2006 - «Лига обманутых жён» , режиссёр Татьяна Воронецкая , сериал , роль - Певец
        p 2006 - «Кошачий вальс» режиссёр Вартан Акопян , худ. фильм , главная роль - Вася
        p 2005 - «Страсти по кино» сериал : фильмы по две серии : «Челюсти» , «Чего хочет женщина?» , «Сумасшедший день » , «Контрольный поцелуй» , «бешеные деньги» режиссёр Александр Замятин , роль — осветитель паша
        p 1997 - 2000 - Приключения Солнышкина» , сериал , режиссёр Александр Клименко , главная роль - Васька - бич
        p 1997 - «Старые песни о главном 2» теле проект , песня «Лада» , роль - Высокий хулиган
        p 1979 - «Чужая компания", режиссер: Сергей Потепалов, киностудия им.Горького, полный метр, роль - Деревенский парень
        p 1978 - «Следствие ведут знатоки» , дело 13 «До третьего выстрела» режиссёр Вячеслав Бровкин , роль - Фитиль
        p Снимался в рекламах и в музыкальных клипах
        p 64 рекламных ролика ( герой рекламы )

        p.b Актёрские работы в театре:
        p с 1976 по 1980 гг Театр Юных Москвичей ( ТЮМ )
        p Спектакли : " В порядке обмана " , роль Майкл . Режиссер Кувшинов Евгений Иванович и Хвацкая Изольда Васильевна
        p Водевиль "Дочь русского актёра" Пётр Григорьев , режиссёры Галкина Евгения Васильевна и Валентин Петухов. Комедийная роль - Ушица
        p "Марсианские хроники" Рэй Бредбери , режиссёр Хвацкая Изольда Васильевна, роль-капитан 4 экспедиции на Марс
        p 2004 г. « Волшебная мелодия», роль Сыщика (с танцами)
        p 2007 г. «Кремлевские куранты» Погодин, реж . Фомичева И. , Три роли: священник, гость в доме Забелиных, английский корреспондент
        p Антреприза " Дом А "
        p 2006 г. « Эмигранты » Мрожек главная роль . реж . Оксана Глазунова . Театр 31 реальность
        p 2006 г. « Артемида с ланью » главная роль реж . Оксана Глазунова
        p Участвовал в учебных спектаклях ВГИК и Высшие режиссерские курсы
