.teacher
    img.teacher__photo(src=photo)
    h3.teacher__title Армен Владимирович Арушанян

    .teacher__bio
        p Окончил Школу-студию МХАТ (курс И. Я. Золотовицкого) в 2010 году и был принят в Московский Художественный театр имени А. П. Чехова.
        
    .teacher__portfolio
        h4.teacher__portfolio-title театральные работы

        p.b Играл в спектаклях:<br /><br />

        p «Прокляты и убиты» В. Астафьева (реж. В. Рыжаков, 2010),
        p «Свадьба Кречинского» А. Сухово-Кобылина (реж. В. Мейкшанс, 2013) — Тишка.<br /><br />

        p.b Играет в спектаклях:<br /><br />

        p «Дуэль» А. П. Чехова (реж. А. Яковлев, 2010) — Ачмианов,
        p «С любимыми не расставайтесь» А. Володина (реж. В. Рыжаков, 2011) — Керилашвили,
        p «Белоснежка и семь гномов» Л. Устинова и О. Табакова (реж. М. Миронов, 2011) — Пятница,
        p «Мастер и Маргарита» М. Булгакова (реж. Я. Сас, 2011) — Первый разбойник,
        p «Пьяные» И. Вырыпаева (реж. В. Рыжаков, 2014) – Рудольф,
        p «Деревня дураков» Н. Ключарёвой (реж. М. Брусникина, 2014) — Паша и Кузьма Палыч.

        p.b Спектакли в МХТ

        p Деревня дураков, Паша, Кузьма Палыч
        p Дуэль, Ачмианов
        p Мастер и Маргарита, Первый разбойник, Марк Крысобой
        p Пьяные, Рудольф
        p С любимыми не расставайтесь, Керилашвили
        p Свидетель обвинения, Детектив в штатском и Полицейский в суде
