extends layout
block main
    include menu
    .center
        .stripe.stripe--videos
            h2 Видео
            .videos
                each video in videos
                    .videos__item
                        .video!=video
                        +cross('videos__item-close cross--white')
