#about.stripe.stripe--about
    p Что такое студия актерского мастерства «ТРИ МАСКИ»?

    p Это школа, где раскрываются Ваши таланты, это общение с единомышленниками, это место, где Вы получите возможность развития и личностного роста, это неограниченная площадка для творчества и реализации ваших идей, это трамплин для достижения Ваших целей и просто приятное и увлекательное путешествие в мир театра и кино.

    p Вы познакомитесь с основами актерского мастерства, технологиями кино и съемочных процессов, профессиональными актерами, научитесь работать с партнером, разовьете память и сценическую внимательность, обретете мышечную свободу и пройдете тренинг эмоций, побываете в незабываемых ролях в различных постановках, будете выступать перед зрителями и даже участвовать во Всероссийских фестивалях. Наши занятия всегда интересны и неоднообразны. Каждый месяц Вас ждут интересные события, походы на съемки на телевидение, в театр, уличные импровизации, а желающие могут выбрать для себя курс подготовки для поступления в Театральный ВУЗ. 

    p Запишитесь на бесплатный открытый урок! Приходите, мы ждем Ваших звонков и заявок!
