mixin menu-item(name, url)
    a(href=url).menu__item
        .menu__item-content=name

.menu
    +menu-item('О нас', '#about')
    +menu-item('Что-то ещё', '#something')
    +menu-item('Контакты', '#contacts')
