.stripe.stripe--courses
    .programs
        h2.programs__title Программы курса

        .programs__items
            .programs__item
                .program.program--actorship
                    .program__text
                        h3.program__title Актерское мастерство
                        p Уроки актерского мастерства состоят из нескольких направлений и этапов. Занятия включают в себя упражнения, направленные на развитие произвольного внимания, снятия зажимов, барьеров и комплексов, развития воображения, креативности и фантазии.
                        p Научитесь основам сценических движений.
                        p Постановка голоса и правильной речи. Еженедельно будете пробовать себя в различных ролях в этюдах, а также к отчетным показам в театральных постановках. Все наши ученики получают возможность регулярно участвовать в съемках самых популярных проектов телевидения на ведущих телеканалах, посещать спектакли лучших театров Москвы, побывать частью съемочного процесса и театральных постановок. На отчетные показы приглашаются звезды Российского кино, которые в свою очередь дают мастер – классы.

            .programs__item
                .program.program--improvisation
                    .program__text
                        h3.program__title Импровизация
                        p Импровизация – высшая степень владения актерским мастерством. Вы разовьете в себе скорость реакции на изменяющиеся и непредсказуемые условия, раскроете глубинные таланты и начнете чувствовать себя уверенно в самых неожиданных ситуациях. Кроме того, это невероятно весело! На уроках Вы будете отыгрывать различные этюды без подготовки по команде преподавателя, участвовать в различных соревновательных упражнениях и тренироваться изображать искренность чувств и эмоций, снимете «заштампованность» собственного поведения на сцене и в жизни.
            .programs__item
                .program.program--tech
                    .program__text
                        h3.program__title Кинотехнологии
                        p Хотите почувствовать себя настоящим актером кино? Увидеть себя на экране в роли актера в любимом фильме? Или Вам приходится часто сниматься на видео, но Вас не удовлетворяет то, как Вы выглядите со стороны - жесты, движения, осанка? Или Вы, возможно планируете стать настоящим актером? Тогда этот курс для Вас!
                        p На уроках Вы будете участвовать в настоящих съемках под руководством мастера и актера кино, корректировать ошибки в исполнении и подаче себя на камеру, обучитесь основам кинотехнологии.
            .programs__item
                .program.program--kids
                    .program__text
                        h3.program__title Детские театральные Уроки
                        p Детские театральные уроки - наша особенная гордость. Занятия проводит и ставит спектакли известный Российский актер театра и кино Игорь Серебряный.
                        p Во время курсов с Ваш ребенок станет настоящим киноактером, снимется в отчетном фильме, попробует себя в качестве режиссера и порадует Вас ролью в настоящей театральной постановке! Набор в группы до 10 человек, возрастная категория 10+
