.stripe.stripe--teachers
    .teachers
        h2.teachers__title Преподаватели
        .teachers__items
            .teachers__item
                include ../teacher-1
            .teachers__item
                include ../teacher-2
            .teachers__item
                include ../teacher-3
